name: GPT Translate per Commit

on:
  push:
    branches:
      - main
jobs:
  gpt_translate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository with two latest commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: get changed files name
        id: changed_files
        run: |
          echo "files=$(git diff --name-only HEAD^ HEAD | grep '\.md$' | tr '\n' ' ')" >> $GITHUB_OUTPUT

      - name: Run GPT Translate
        uses: 3ru/gpt-translate@v1.1.1
        with:
          apikey: ${{ secrets.OPENAI_API_KEY }}
          inputFiles: ${{ steps.changed_files.outputs.files }}
          outputFiles: "./DE/*.md ./IT/*.md ./FR/*.md"
          languages: "German Italian French"
